<div class="container-fluid">

  <div class="row">

    <div class="col-sm-5 col-sm-offset-3 col-md-offset-2 main">
      <h1 class="page-header">Investments Dashboard</h1>

      <div class="container">
        <div class="row">
          <div class="col-md-offset-0 col-lg-5 col-md-5 col-sm-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                Total
              </div>
              <div class="panel-body">
                $12120
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                Profit
              </div>
              <div class="panel-body">
                $60
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class= "row">

    <div class="col-sm-5 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <div class="table-responsive ">
        <table class="table table-striped table-bordered">
          <thead>

          <tr>
            <th>Stock</th>
            <th>Inv. Price</th>
            <th>Live Price</th>
            <th>Inv. Date</th>
            <th>Quantity</th>
            <th>Overall Gain(%)</th>
            <th>Overall Gain($)</th>
            <th>Total Inv.</th>
            <th>Total Value</th>

          </tr>
          </thead>

          <tbody>
          <% @investments.each do |investment| %>
              <tr>
                <!-- Lets dynamically add the labels red or green here -->
                <td><%= investment.stockName %> (<%= investment.ticker %>)</td>
                <td><%= investment.buyingPrice %></td>
                <td><%= investment.livePrice %></td>
                <td><%= investment.buyingDate  %></td>
                <td><%= investment.quantity  %></td>
                <td><%= investment.overallGain  %></td>
                <td><%= investment.overallGainPercent  %></td>
                <td><%= investment.totalInvestments  %></td>
                <td><%= investment.totalValue  %></td>
              </tr>
          <% end %>

          </tbody>
        </table>
      </div>
      <%= link_to "New Investment", new_investment_path, class: 'btn btn-primary' %>
    </div>

  </div>


</div>