<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<div class="container">
  <div class="starter-template">
    <h1>Google Trends Volume Correlation</h1>
    <p class="lead">
      Use Google Trends Terms to predict trading volume.
    </p>
    <% if flash[:notice].to_s.start_with?('ERROR')%>
        <p class="notice"><%= flash[:notice]%></p>
    <% end %>
    <form class="form-max-width" action="show">
      <div class="form-group">
        <label class="control-label" for="trend_term">Google Trends Term:</label>
        <input required type="text" id="trend_term" name="trend_term" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label" for="stock_symbol">Stock Symbol:</label>
        <input required type="text" id="stock_symbol" name="stock_symbol" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>

  <div class="row" style="text-align: center;">
	<div class="col-md-6">
        <h2>Popular Search Term</h2>
        <div class="row">
            <div class="col-md-6"><canvas id="termChart" width="200" height="200"></canvas></div>
            <div class="col-md-6"><table class="table" style="margin-left:25px;">
          <thead>
          <tr>
            <th>ID</th>
            <th>Term</th>
            <th># Searches</th>
          </tr>
          </thead>

          <tbody>
          <% @term_records.each_with_index do |p, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= p.term %></td>
                <td><%= p.count %></td>
              </tr>
          <% end %>
          </tbody>
        </table></div>
          </div>
	</div>
	<div class="col-md-6">
        <h2>Popular Search Stock</h2>
        <div class="row">
            <div class="col-md-6"><canvas id="stockChart" width="200" height="200"></canvas></div>
            <div class="col-md-6"><table class="table" style="margin-left:25px;">

          <thead>
          <tr>
            <th>ID</th>
            <th>Stock</th>
            <th># Searches</th>
          </tr>
          </thead>

          <tbody>
          <% @stock_records.each_with_index do |p, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= p.stock %></td>
                <td><%= p.count %></td>
              </tr>
          <% end %>
          </tbody>
        </table></div>
          </div>
	</div>
</div>

</div><!-- /.container -->

<script>
    $(document).ready(function () {
        $('#stock_symbol').autocomplete({
            serviceUrl: '/indices/hints',
            deferRequestBy: 200
        })

        //Pie chart
        var colorArray = ["#F7464A", "#46BFBD", "#FDB45C"];
        var highLightArray = ["#FF5A5E", "#5AD3D1", "#FFC870"]
        var stockChart = $("#stockChart").get(0).getContext("2d")
        var termChart = $("#termChart").get(0).getContext("2d")

        $.ajax({
            url: '/google_trends_strategy/get_stock_search_history.json',
            async: true,
            dataType: 'json',
            type: 'get'
        }).done(function (data) {
            var stockArray = []
            $.each(data, function (index, item) {
                var hash = {}
                hash['value'] = item['count']
                hash['color'] = colorArray[index % 3]
                hash['hightlight'] = highLightArray[index % 3]
                hash['label'] = item['stock'];
                stockArray.push(hash)
            })
            if (stockArray.length > 0)
                new Chart(stockChart).Pie(stockArray)
        })

        $.ajax({
            url: '/google_trends_strategy/get_term_search_history.json',
            async: true,
            dataType: 'json',
            type: 'get'
        }).done(function (data) {
            var termArray = []
            $.each(data, function (index, item) {
                var hash = {}
                hash['value'] = item['count']
                hash['color'] = colorArray[index % 3]
                hash['hightlight'] = highLightArray[index % 3]
                hash['label'] = item['term'];
                termArray.push(hash)
            })
            if (termArray.length > 0)
                new Chart(termChart).Pie(termArray)
        })


    })
</script>