

<body>
<!--h1 style="text-align: center;"> Google Trend (Pink) /Buy & Hold (Blue) </h1-->
<div class="container">
<div style="width:800px; margin:0 auto;">
	<div class="row" style="background-color:rgba(220,220,220,1); color:white; text-align: center;">
        <div class="col-md-8"><h2>Google Trends Strategy</h2></div>
        <div class="col-md-4"><h2><%= number_with_precision(@gt_ret[-1], :precision => 3) %></h2></div>
      </div>
      <div class="row"  style="background-color:rgba(151,187,205,1); color:white; text-align: center;">
        <div class="col-md-8"><h2>Buy & Hold Strategy</h2></div>
        <div class="col-md-4"><h2><%= number_with_precision(@bh_ret[-1], :precision => 3) %></h2></div>
      </div>
</div>
<div style="width:800px; margin:0 auto;">
  <div>
    <h3 style="text-align: center;">Trend term '<%= @trend_term %>' <%= @ret_string %> since last week</h3>
  </div>
  <div>
    <%= render 'stock_info' %>
  </div>
  <div>
    <canvas id="canvas" height="400" width="600"></canvas>
  </div>
</div>
</div>

<script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var labels = <%= @labels.to_json.html_safe %>
    var lineChartData = {
        labels : labels,
        datasets : [
            {
                label: "Google Trends Strategy",
                fillColor : "rgba(220,220,220,0.2)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                pointHighlightFill : "#fff",
                pointHighlightStroke : "rgba(220,220,220,1)",
                data: <%= @gt_ret %>
//					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(), randomScalingFactor()]
            },
            {
                label: "Buy and Hold Strategy",
                fillColor : "rgba(151,187,205,0.2)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                pointHighlightFill : "#fff",
                pointHighlightStroke : "rgba(151,187,205,1)",
                data: <%= @bh_ret %>
//					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(), randomScalingFactor()]
            }
        ]

    }

    window.onload = function(){
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true,
            bezierCurve: false,
            pointDotRadius : 3,
            scaleShowGridLines : false
        });
    }


</script>
</body>
